@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
    --color-background: #fcf5f3;
    --color-foreground: #081126;
    --color-card: #fff8e7;
    --color-muted: #f6eecf;
    --color-muted-foreground: rgba(0, 0, 0, 0.6);
    --color-primary: #081126;
    --color-accent: #ea7a53;
    --color-border: rgba(0, 0, 0, 0.1);
    --color-success: #16a34a;
    --color-destructive: #dc2626;
    --color-subscription: #8fd1bd;

    --spacing-0: 0px;
    --spacing-1: 4px;
    --spacing-2: 8px;
    --spacing-3: 12px;
    --spacing-4: 16px;
    --spacing-5: 20px;
    --spacing-6: 24px;
    --spacing-7: 28px;
    --spacing-8: 32px;
    --spacing-9: 36px;
    --spacing-10: 40px;
    --spacing-11: 44px;
    --spacing-12: 48px;
    --spacing-14: 56px;
    --spacing-16: 64px;
    --spacing-18: 72px;
    --spacing-20: 80px;
    --spacing-24: 96px;
    --spacing-30: 120px;

    --font-sans: "@/assets/fonts/PlusJakartaSans-Regular";
    --font-sans-light: "@/assets/fonts/PlusJakartaSans-Light";
    --font-sans-medium: "@/assets/fonts/PlusJakartaSans-Medium";
    --font-sans-semibold: "@/assets/fonts/PlusJakartaSans-Semibold";
    --font-sans-bold: "@/assets/fonts/PlusJakartaSans-Bold";
    --font-sans-extrabold: "@/assets/fonts/PlusJakartaSans-ExtraBold";
}

@layer components {
    /* Root Screen Container */
    .screen-container {
        @apply flex-1 bg-background;
    }

    /* Floating Navbar Container */
    .nav-main {
        @apply absolute self-center flex-row items-center bg-white rounded-full shadow-2xl border border-border;
    }

    /* The Sliding Background Pill */
    .nav-active-pill {
        @apply absolute h-[85%] bg-accent/10 rounded-full;
    }

    /* Individual Tab Touch Target */
    .nav-tab-item {
        @apply items-center justify-center h-full;
    }

    /* Text Label inside Tab */
    .nav-label {
        @apply font-sans-extrabold text-accent capitalize;
    }
}